* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #2c2c2c;
}
body {
  background-color: #f6f6f6;
}

.container {
  max-width: 1440px;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 60px;
  padding: 25px 100px;
  justify-content: center;
}
h1 {
  text-align: center;
  margin-top: 16px;
}

h3 {
  margin-top: 32px;
  margin-bottom: 10px;
}
p {
  text-align: center;
  margin-bottom: 8px;
}
.buttons p {
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 8px;
  color: white;
}

.buttons {
  width: 240px;
  background-color: #ffa500;
  border-radius: 8px;
}

.cards {
  width: 300px;
  height: 380px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: rgb(255, 255, 255);
  display: grid;
  place-items: center;
  padding: 10px;
}
img {
  width: 80%;
  height: 220px;
  object-fit: cover;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-self: center;
}
